<p id="notice"><%= notice %></p>

<p>
  <strong>Days:</strong>
  <%= @travel_period.days %>
</p>

<%= link_to 'Edit', edit_travel_period_path(@travel_period) %> |
<%= link_to 'Back', travel_periods_path %>
