<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @traveller_type.name %>
</p>

<%= link_to 'Edit', edit_traveller_type_path(@traveller_type) %> |
<%= link_to 'Back', traveller_types_path %>
