<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @destination_class.name %>
</p>

<%= link_to 'Edit', edit_destination_class_path(@destination_class) %> |
<%= link_to 'Back', destination_classes_path %>
