<div class="bg-light p-5">
  <p>
    <%= content_tag :strong, "PLEASE NOTE: Coverage for Pre-Existing Medical Conditions" %>
  </p>
  <%= content_tag :p, "Unless specifically described as covered under the terms of your full description of coverage (policy wording), <strong>coverage is not provided for any pre-existing medical or dental conditions</strong>, which includes any illness or injury where you (or anyone else) have had symptoms, treatment, prescriptions, surgery or have seen a specialist before you purchased this policy. Any illness or injury which has come into existence, or has shown symptoms, or has been diagnosed in the previous insurance period(s) will not be covered in the extended insurance period.".html_safe %>
</div>
